@font-face {
    font-family: "Aniron ";
    src: url('~@/assets/anirb___.ttf') fromat('ttf');
  }

  @font-face {
    font-family: "Ringbearer ";
    src: url('~@/assets/RINGM___.TTF') fromat('ttf');
  }
